<template>
	<div class="chambre">
		<h2>Bienvenue dans la chambre</h2>
		<router-link to="/grenier">
			<img class="echelle" alt="echelle vers le grenier" src="http://assets.stickpng.com/images/580b585b2edbce24c47b2bbe.png" />
			vers le grenier
		</router-link> 
		<div class="lumiere" :class="{ allumer : $store.state.lumieres.chambre }"></div>
		<img src="https://maison.20minutes.fr/wp-content/uploads/2020/12/1-chambre-nature-salva-alinea.jpg" />
		<button @click="allumerLumiere">Allumer/éteindre la lumière</button>
	</div>
</template>

<script>

export default {
    name: 'Chambre',
    data() {
        return {
            allumer: false,
        }
    },
    components: {
    },
    methods: {
        allumerLumiere() {
          this.$store.commit("setLumiere", "chambre");
        }
    },
    mounted() {
        //this.$bus.$on("allumer-lumiere-chambre", this.allumerLumiere);
    }
}
</script>

<style scoped>
div.lumiere {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto 2% auto;
    border-radius: 100px;
}

.allumer {
    background-color: yellow;
}

.echelle {
	width : 50px
}

button {
	display: block;
	margin: auto
}
</style>