<template>
	<div class="cuisine">
		<h2>Bienvenue dans la cuisine</h2>
		<img src="https://blog.arthur-bonnet.com/wp-content/uploads/2020/04/cuisine-moderne-en-I-loft.jpg" />
	</div>
</template>

<script>

export default {
	name: 'Cuisine',
	components: {
	}
}
</script>
