<template>
    <div class="grenier">
        <h2>Bienvenue dans le grenier</h2>
		<img src="http://www.cmonmetier.be/wp-content/uploads/2019/11/grenier-768x432.jpg" />
		<img @click="trouverSus" class="cache" src="https://wonder-day.com/wp-content/uploads/2020/10/wonder-day-among-us-21.png" />
    </div>
</template>

<script>

export default {
	name: 'Grenier',
	components: {

	},
	methods : {
		trouverSus() {
			alert("Vous avez trouvé amogus");
			this.$store.commit("setOuEstAmogus", 'grenier');
		}
	}
}
</script>

<style scope>
.cache {
	width : 50px
}
</style>
