<template>
  	<div class="home">
		<router-link to="/salon">Salon</router-link> |
		<router-link to="/cuisine">Cuisine</router-link> |
		<router-link to="/grenier">Grenier</router-link> |
		<router-link to="/chambre">Chambre</router-link>
    <p>Mais où est amogus ?</p>
	<template v-if="$store.state.amogus.trouve">Amogus est dans la pièce : <b>{{$store.state.amogus.position}}</b><br /></template>
    <button @click="actionLumiereChambre">
		<template v-if="$store.state.lumieres.chambre">Eteindre</template>
		<template v-else>Allumer</template>
		la lumière de la chambre
	</button>
	<button @click="actionLumiereSalon">
		<template v-if="$store.state.lumieres.salon">Eteindre</template>
		<template v-else>Allumer</template>
		la lumière du salon
	</button>
  </div>
</template>

<script>

export default {
	name: 'Home',
	data() {
		return {
		
		}
	},
	mounted() {
	},
	methods : {
		actionLumiereChambre() {
			this.$store.commit("setLumiere", "chambre");
		},
		actionLumiereSalon() {
			this.$store.commit("setLumiere", "salon");
		}
	},
	components: {
		
	}
}
</script>
