<template>
    <div class="salon">
        <h2>Bienvenue dans le salon</h2>
        <div class="lumiere" :class="{ allumer : $store.state.lumieres.salon }"></div>
        <img src="https://fac.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Ffac.2F2021.2F07.2F07.2F365769b1-ca66-4205-806f-488c5cf74c84.2Ejpeg/1200x900/quality/80/crop-from/center/focus-point/2957%2C2445/nos-plus-belles-inspirations-pour-un-salon-a-la-deco-moderne-et-chic.jpeg" />
        <button @click="allumerLumiere">Allumer/éteindre la lumière</button>
    </div>
</template>

<script>

export default {
    name: 'Salon',
    data() {
        return {
            allumer: false,
        }
    },
    components: {
    },
    methods: {
        allumerLumiere() {
            this.$store.commit("setLumiere", "salon");
        }
    },
    mounted() {
        //this.$bus.$on("allumer-lumiere-salon", this.allumerLumiere);
    }
}
</script>

<style scoped>
div.lumiere {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto 2% auto;
    border-radius: 100px;
}

.allumer {
    background-color: yellow;
}

button {
	display: block;
	margin: auto
}
</style>